body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:817px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90 {
  position:absolute;
  left:30px;
  top:30px;
  width:360px;
  height:640px;
}
#u91 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
}
#u92 {
  position:absolute;
  left:150px;
  top:139px;
  width:120px;
  height:120px;
}
#u93 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_ann {
  position:absolute;
  left:263px;
  top:135px;
  width:1px;
  height:1px;
}
#u94 {
  position:absolute;
  left:80px;
  top:309px;
  width:260px;
  height:50px;
}
#u94_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:50px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u95 {
  position:absolute;
  left:80px;
  top:379px;
  width:260px;
  height:50px;
}
#u95_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#C9C9C9;
  text-align:left;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u96 {
  position:absolute;
  left:91px;
  top:392px;
  width:25px;
  height:25px;
}
#u97 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u98 {
  position:absolute;
  left:91px;
  top:322px;
  width:25px;
  height:25px;
  color:#C9C9C9;
}
#u99 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:126px;
  top:320px;
  width:200px;
  height:30px;
}
#u100_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u101 {
  position:absolute;
  left:126px;
  top:387px;
  width:200px;
  height:30px;
}
#u101_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u101_ann {
  position:absolute;
  left:319px;
  top:383px;
  width:1px;
  height:1px;
}
#u102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u102 {
  position:absolute;
  left:425px;
  top:347px;
  width:392px;
  height:72px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:181px;
}
#u104p000 {
  position:absolute;
  left:-12px;
  top:26px;
  width:141px;
  height:18px;
  -webkit-transform:rotate(-26deg);
  -moz-transform:rotate(-26deg);
  -ms-transform:rotate(-26deg);
  transform:rotate(-26deg);
}
#u104p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:19px;
}
#u104p001 {
  position:absolute;
  left:123px;
  top:9px;
  width:73px;
  height:3px;
}
#u104p001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:4px;
}
#u104p002 {
  position:absolute;
  left:157px;
  top:93px;
  width:256px;
  height:8px;
  -webkit-transform:rotate(-137deg);
  -moz-transform:rotate(-137deg);
  -ms-transform:rotate(-137deg);
  transform:rotate(-137deg);
}
#u104p002_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:257px;
  height:9px;
}
#u104.compound {
  width:0px;
  height:0px;
}
#u104 {
  position:absolute;
  left:337px;
  top:253px;
  width:378px;
  height:180px;
}
#u105 {
  position:absolute;
  left:2px;
  top:82px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u106 {
  position:absolute;
  left:80px;
  top:467px;
  width:260px;
  height:40px;
  font-size:16px;
}
#u107 {
  position:absolute;
  left:2px;
  top:9px;
  width:256px;
  word-wrap:break-word;
}
